---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Boton from "../components/Boton.jsx";
import Sections from "../components/Sections.astro";
import Services from "../components/Services.astro";
---

<Layout title="Bella Beauty Salon.">
  <Header />
  <main>
    <Sections>
      <aside class="hero">
        <div>
          <h1>Bella Beauty Salon</h1>
          <div>
            <p>
              Discover the ultimate pampering experience at our premier beauty
              salon. Indulge in a wide range of luxurious services tailored to
              make you feel beautiful and confident.
            </p>
          </div>
          <div class="butones">
            <Boton name="Book" className={"buton"} client:load>
              Book now
            </Boton>
            <Boton name="servise" className={"buton-white"} client:load>
              Servises
            </Boton>
          </div>
        </div>
      </aside>
      <aside class="galery">
        <img
          src="/img/beauty-salon-front-state.webp"
          alt="Front of salon"
          class="top-img"
        />
        <img src="/img/beauty-salon-black.webp" alt="Salon black" />
        <img src="/img/beauty-salon-pink.webp" alt="Salon pink" />
      </aside>
    </Sections>
  </main>
  <Sections bgClass="bg-color-gray">
    <aside>
      <div class="header">
        <h2>Indulge in Luxury</h2>
        <p>
          Explore our wide range of premium beauty services designed to help you
          look and feel your best.
        </p>
      </div>
      <div class="body-seccion">
        <div class="services-details">
          <Services />
        </div>
        <div class="imagen-corte">
          <img src="/img/salon-corte.webp" alt="salonera haciendo corte" />
        </div>
      </div>
    </aside>
  </Sections>
  <Sections>
    <aside class="aside-about">
      <h2>Elevating Beauty, Empowering Confidence</h2>
      <p>
        At Bella Beauty Salon, we are passionate about helping our clients look
        and feel their absolute best. Our team of skilled professionals is
        dedicated to providing personalized, high-quality services in a
        luxurious and welcoming environment.
      </p>
      <div class="butones">
        <Boton name="Book" className={"buton"} client:load>
          Book an appointment
        </Boton>
        <Boton name="servise" className={"buton-white"} client:load>
          Learn more
        </Boton>
      </div>
    </aside>
    <aside>
      <div class="imagen-corte">
        <img src="/img/salon-corte.webp" alt="salonera haciendo corte" />
      </div>
    </aside>
  </Sections>
  <Sections>
    <aside>
      <h2>Schedule Your Appointment Today</h2>
      <p>
        Our team is here to assist you and answer any questions you may have.
        Get in touch to book your next appointment.
      </p>
    </aside>
  </Sections>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  .butones {
    display: flex;
    gap: 10px;
    margin: 16px 0 0;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: auto;
    gap: 20px;
    padding: 12rem 0;
  }
  p {
    color: #6b7280;
    font-size: 20px;
    margin: 8px 0 0;
    font-weight: 200;
    text-wrap: wrap;
  }
  img {
    width: 300px;
    height: 200px;
    border: solid 1px #ccc;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
  }
  .aside-about {
    width: 40%;
  }

  .galery {
    display: grid;
    text-align: center;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, auto;
    gap: 15px;
  }
  .top-img {
    grid-row: 1; /* Occupies the first row */
    grid-column: span 2; /* Spans across both columns */
    height: 400px; /* Adjust height as needed */
    width: 600px;
    object-fit: cover; /* Ensure image covers the entire area */
  }
  h1 {
    font-size: 60px;
    font-weight: 200;
    margin: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
  h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 8px 0 0;
    color: #09090b;
  }
  .header small {
    text-align: end;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .header p {
    color: #6b7280;
    font-weight: 300;
    font-size: 16px;
    text-wrap: wrap;
    margin: 8px 0 0;
  }
  .body-seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 800px;
    padding: 48px 0;
  }
  .imagen-corte img {
    width: 500px;
    height: 500px;
  }
</style>
