---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Boton from "../components/Boton.jsx";
---

<Layout title="Bella Beauty Salon.">
  <Header />
  <main>
    <section class="main">
      <aside class="hero">
        <div>
          <h1>Bella Beauty Salon</h1>
          <div>
            <p>
              Discover the ultimate pampering experience at our premier beauty
              salon. Indulge in a wide range of luxurious services tailored to
              make you feel beautiful and confident.
            </p>
          </div>
          <div class="butones">
            <Boton name="Book" className={"buton"} client:load>
              Book now
            </Boton>
            <Boton name="servise" className={"buton-white"} client:load>
              Servises
            </Boton>
          </div>
        </div>
      </aside>
      <aside class="galery">
        <img
          src="/img/beauty-salon-front-state.webp"
          alt="Front of salon"
          class="top-img"
        />
        <img src="/img/beauty-salon-black.webp" alt="Salon black" />
        <img src="/img/beauty-salon-pink.webp" alt="Salon pink" />
      </aside>
    </section>
    <section class="services">
      <aside>
        <div class="header">
          <h2>Indulge in Luxury</h2>
          <p>
            Explore our wide range of premium beauty services designed to help
            you look and feel your best.
          </p>
        </div>
        <div class="body-seccion"> 
          <div class="services-details">
            <div>
              <h3>Hair Services</h3>
              <span>Haircuts, coloring, styling, and more.</span>
              <div class="footer-details">
                <span>From $45</span>
                <Boton name="Book Now" className={"buton"} client:load>
                  Book Now
                </Boton>
              </div>
            </div>
          </div>
          <div class="imagen-corte">
            <img src="/img/salon-corte.webp" alt="salonera haciendo corte">
          </div>
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  .butones {
    display: flex;
    gap: 10px;
    margin: 16px 0 0;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: auto;
    gap: 20px;
    padding: 12rem 0;
  }
  .hero {
    min-width: fit-content;
  }
  .hero p {
    color: #6B7280;
    font-size: 20px;
    margin: 8px 0 0;
    font-weight: 200;
    text-wrap: wrap;
  }
  img {
    width: 300px;
    height: 200px;
    border: solid 1px #ccc;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
  }
  .galery {
    display: grid;
    text-align: center;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, auto;
    gap: 15px;
  }
  .top-img {
    grid-row: 1; /* Occupies the first row */
    grid-column: span 2; /* Spans across both columns */
    height: 400px; /* Adjust height as needed */
    width: 600px;
    object-fit:cover ; /* Ensure image covers the entire area */
  }
  h1 {
    font-size: 60px;
    font-weight: 200;
    margin: 0;
  }
  .services{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    width: 100%;
    padding: 12rem 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
  .header h2 {
    font-size: 48px;
    font-weight: 200;
    margin: 8px 0 0;
    color: #09090b;
   
  }
  .header small {
    text-align: end;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .header p{
    color: #6B7280;
    font-weight: 300;
    font-size: 16px;
    text-wrap: wrap;
    margin: 8px 0 0;
  }
  .body-seccion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 800px;
    padding: 48px 0;
   
  }
  .body-seccion h3{
    font-size: 20px;
    font-weight: 200;
    margin: 0;
  }
  .body-seccion span{
    font-weight: 100;
    font-size: 16px;
  }
  .footer-details{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .imagen-corte img{
    width: 500px;
    height: 500px;
  }
</style>
