---
const { chaild } = Astro.props;

---
<script>
    const handelClick = ()=>{
    alert('hola ')
}
document.getElementById('button').addEventListener('click', handelClick)
</script>
<section>
  <button id="button">
    <slot />
  </button>
</section>

<style>
  button {
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #111827;
    color: #f1f1f1;
    transition: all ease 0.3;
  }
</style>
