---
import Scissors from "./icons/Scissors.icon.astro";
---

<header>
  <Scissors  />
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<style scoped>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 24px;
    max-width: 1600px;
    
  }
  nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
  a:hover{
    text-decoration: underline;
  }
  
</style>
