---
import LayoutModal from "../layouts/LayoutModal.astro";
---

<LayoutModal>
  <div class="modal-conten">
    <h1>hello desde modal</h1>
  </div>
</LayoutModal>

<style>
  .modal-conten {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
</style>
